body {
  box-sizing: border-box;

  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position:relative;
  min-height:100vh;
  margin:0 auto;
  padding-bottom:209px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}


/* HEADER */

.Header {
  box-sizing: border-box;
  margin: 40px auto;
  max-width: 1240px;
  width:89%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom:60px;
}

.link-navbar {
  margin-left:60px;
  color:#FF6060;
  font-size: 24px;
  font-weight: 500;
}



/* MAIN PAGE */

.mainhome {
  box-sizing: border-box;
  margin:45px auto;

  background-color: #F7F7F7;
  max-width:1240px;
  width:90%;
  height:auto;
  border-radius: 25px;
  display:flex;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:56px 50px;
  flex-flow: row wrap;
}

.bgbanner {
  background:url('./images/banner.png') no-repeat;
  background-size:cover;
  background-position:center;
  max-width: 1240px;
  width:90%;
  height:223px;
  margin:0 auto;
  border-radius: 25px;
  box-sizing: border-box;
}

.Banner {
  background-color:rgba(0, 0, 0, 0.3);
  height:223px;
  box-sizing: border-box;
  margin:0 auto;
  border-radius: 25px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:0 100px;
}

.bannertext{
  font-size: 48px;
  color:white;
}

.card {
  box-sizing: border-box;
  background-color:#FF6060;
  border-radius: 10px;
  width:340px;
  height:340px;
  margin-bottom:50px;
  position:relative;
  padding:20px;
  background-size: cover;
  text-shadow:0 0 3px #000
 
}


.card div {
  position:absolute;
  bottom:5px;
  height:52px;
  color:white;
  font-size: 18px;
}



/* FOOTER */

.footer-container{
  width:100%;
  position:absolute;
  bottom:0;
  height:209px;
  
}
footer {
  width:100%;
  height:209px;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerimg {
  margin: 0 auto;
  width:122px;
  height:auto;
  margin-bottom:30px;

}
.footertext{
  color:white;
  font-size:24px;
}



/* A PROPOS PAGE */

.aboutbanner {
  background:url("./images/Background.png") no-repeat;
  background-size:cover;
  background-position:center;
  max-width: 1240px;
  width:90%;
  height: 223px;
  border-radius: 25px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.smallcontainer {
  width:100%;
  height:auto;
  margin-bottom:30px;

}

.titlecontainer {
  display:flex;
  background-color: #FF6060;
  height:47px;
  padding:0 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.title {
  box-sizing: border-box;
  color:white;
  font-size: 24px;
  width:200px;
  font-weight: 500;

}
.description {
  background-color: #F7F7F7;
  padding:20px;
  color:#FF6060;
  font-size: 24px;
  font-weight: 400;
  border-radius: 5px;
  transition:all 150ms;
  transform-origin: 50% 0%;
}
.fas {
  color:white;
  margin-right:16px;
  transition: all 150ms;
}

.mainpropos{
  max-width: 1023px;
  width:80%;
  box-sizing: border-box;
  margin:0 auto; 
}




/* LOCATION PAGE */

.locationcontainer {
max-width: 1240px;
width:90%;
margin:0 auto;
position:relative;
top:-40px;
}

.locationratingcontainer{
  margin-left:20px;
}

.locationbanner{
  box-sizing: border-box;
  background-size: contain;
  width:100%;
  height:415px;
  border-radius: 25px;
  margin-bottom:30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}
.left-arrow:active, .right-arrow:active {
  color: rgba(0,0,0, 0.3);
}
.right-arrow:hover {
  text-shadow: -5px 5px 5px rgba(0,0,0, 0.1);
}

.left-arrow:hover {
  text-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
}

.locationtitle{
  color:#FF6060;
  font-size: 36px;
}
.locationplace {
  color: #FF6060;
  font-size: 18px;
  margin-bottom:20px;
}
.tagcontainer {
  display:flex;
  margin-bottom:25px;
}

.locationtag {
  margin-right:10px;
  background-color: #FF6060;
  color:white;
  border-radius: 10px;
  width:115px;
  height:25px;
  text-align: center;
  line-height: 25px; 
  font-size: 14px;
}

.small {
  font-size: 18px;
  border-radius: 10px;
}

.height{
  height:250px;
  display:flex;
  align-items: center;
  line-height: 25px;
  position: relative;
  top:-10px;
  z-index:-1
}

#descriptionlocation{
  /* margin-right:20px; */
  margin-bottom:20px;
}

.locationsmallcontainer {
  max-width:582px;
  width:45%;
  max-height:250px;
  height:auto;
  border-radius:10px;
}

.bottomcontainer {
  display:flex;
  justify-content: space-between;
}

.locationsecondcontainer {
  display:flex;
  justify-content: space-between;
}

.locationname {
  width:min-content;
  color:#FF6060;
  font-size: 18px;
  text-align: end;
  line-height: 32px;
  height:64px;
}

.locationprofil{
  width:64px;
  height:64px;
  border-radius: 64px;
  margin-left: 10px;
}

.namepicture{
  display:flex;
  margin-bottom: 20px;
}

.rating {
  display:flex;
}

.starfull {
  width:30px;
  height:30px;
  background: url("../src/images/fullstar.png");
  margin-left:10px;
}

.starempty {
  width:30px;
  height:30px;
  background: url("../src/images/emptystar.png");
  margin-left:10px;
}

.fas {
  margin:0;
}
/* ERROR PAGE */
.errorcontainer {
  max-width:1240px;
  margin:0 auto;
  margin-top:180px;
  margin-bottom:100px;
}

.errortitle {
  color:#FF6060;
  font-size: 288px ;
  font-weight: 700;
  margin:0 auto;
  margin-bottom: 66px;
  width: min-content;
}

.erroroups {
  color:#FF6060;
  font-size: 36px;
  margin:0 auto;
  margin-bottom: 180px;
  max-width:875px;
  padding:0 10%;
  text-align:center;
}

.errorlink {
  display:block;
  font-size: 18px;
  color:#FF6060;
  margin:0 auto;
  width:285px;
  text-align:center;

}

@media screen and (max-width:955px) {
  .locationsmallcontainer{
    width:95%;
    border-radius:5px !important;
  }

  .bottomcontainer {
    flex-direction: column;
    align-items: center;
  }
  
  .height {
    height:auto;
    padding:20px;
  }

}

@media screen and (min-width:1245px){
  .mainhome::after{
    content:"";
    box-sizing: border-box;
    border-radius: 10px;
    width:340px;
    height:340px;
    margin-bottom:50px;
    position:relative;
    padding:20px;
  
  }


}
@media screen and (max-width:885px) {
  .mainhome{
    background-color: white;
    flex-direction: column;
    margin:20px auto;
    align-items: center;
    padding:0;
  }

  .locationsecondcontainer{
    flex-direction: column;
  }

  .locationratingcontainer{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin:0;
    margin-bottom:16px;
    padding-right:5px;
  }

  .namepicture{
    margin:0;
    display:flex;
    align-items: center;
  }
 
  .locationname{
    line-height: 16px;
    height:min-content;
  }

  .starempty, .starfull {
    width:15px;
    height:15px;
    background-size: contain;
  }

  
  .bgbanner, .Banner{
    height:111px;
    width:340px;
    border-radius: 10px;
  }

  .Banner {
    justify-content:flex-start;
    padding:0 15px;
  }

  .bannertext {
    font-size: 24px;
  }

  .Header {
    height:20px;
    margin-bottom:20px;
    margin-top:25px;
    width:335px;
    font-size:12px;
  }

  .Header img {
    height:40px;
  }
 
  .link-navbar {
    font-size: 12px;
    margin-left:20px;
  }

  .card {
    width:335px;
    height:255px;
    margin-bottom:20px;
  }

  footer {
    margin-top:0px;
  }

  .footertext {
    font-size: 12px;
  }

  .titlecontainer {
    height:30px;
    border-radius:5px;
  }

  .title{
    font-size: 13px;
  }

  .description {
    font-size: 12px;
  }

  .errortitle {
    font-size: 96px;
    margin-bottom: 11px;
  }

  .erroroups{
    font-size:18px;
    margin-bottom: 130px;
  }

  .errorlink{
    font-size: 14px;
  }

  .locationtitle{
    font-size: 18px;
    margin-bottom:5px;
  }

  .locationplace {
    font-size: 14px;
    margin-bottom:12px;
  }

  .locationtag{
    width:84px;
    height:18px;
    font-size:10px;
    line-height: 18px;
  }

  .locationname {
    font-size: 12px;
  }

  .locationbanner{
    margin-top:70px;
    width:335px;
    height:255px;
    border-radius: 10px;
  }

  .locationcontainer {
    width:335px;
  }

  .tagcontainer {
    margin-bottom:15px;
  }

  .smallcontainer {
    margin-bottom: 20px;
    width:340px;
  }

  #descriptionlocation{
    margin-right:0px;
    margin-bottom:-20px;
  }

  .heightclose {
    height:auto !important
  }
  .locationprofil {
    height:32px;
    width:32px;
    border-radius: 32px;
  }

  .aboutbanner {
    width:340px;
    border-radius: 10px;
  }

  .mainpropos{
    width:340px;
  }

  .left-arrow{
    position:absolute;
    left:0;
    margin-left:5px;
  }

  .right-arrow {
    position:absolute;
    right:0;
    margin-right:5px;
  }

}

/* LOADING SPINNING */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
